
<form method="POST" action="/groups" class="form-createGroup">
    <div class="nameLabel">
        <label for="nameInput">Insert a name:</label>
        <input type="text" id="nameInput" name="name" placeholder=" GroupXX">
    </div>

    <div class="descriptionLabel">
        <label for="descriptionInput">Insert a description:</label>
        <textarea id="descriptionInput" cols="80" rows="10" name="description" placeholder=" This group loves catan games"></textarea>
    </div>

    <input type="submit" value="Create group" class="btn" style="width: 10%">
</form>